<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2f-RINrC-GaBypAPcsPRdojkN-oUS1IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>133224360160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.flizo.s1</string>
	<key>PROJECT_ID</key>
	<string>traccar-hefesto</string>
	<key>STORAGE_BUCKET</key>
	<string>traccar-hefesto.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133224360160:ios:3f6c6bb36f126c97668885</string>
	<key>DATABASE_URL</key>
	<string>https://traccar-hefesto.firebaseio.com</string>
</dict>
</plist>